<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="about-me">

<template>
    <style>
        :host {
            overflow: auto;
            display: block;
            padding:100px 0;
            text-align:center;
            background-color: #222222;
        }
        aside{
            width: 20%;
            margin: 0 0 0 10%;
            float: left;
            text-align: center;
            padding-top: 30px;
            position: relative;

        }
        aside:after {
            position:absolute;
            content:'';
            border-bottom:1px solid rgb(189, 168, 130);
            width:25px;
            height:0;
            display:block;
            bottom:30px;
            left:-15px;
        }
        aside:before {
            position: absolute;
            content: '';
            border-left: 1px solid rgb(189, 168, 130);
            width: 0px;
            height: 25px;
            display: block;
            left: 30px;
            bottom: -15px;
            z-index: 2;
        }

        figure {
            margin:0;
            position:relative;
        }
        figure:after {
            position:absolute;
            content:'';
            border-bottom:1px solid rgb(189, 168, 130);
            width:25px;
            height:0;
            display:block;
            top:30px;
            left:-15px;
        }
        figure:before {
            position:absolute;
            content:'';
            border-left:1px solid rgb(189, 168, 130);
            width:0px;
            height:25px;
            display:block;
            top:-15px;
            left:30px;
            z-index:2;
        }
        figure img {
            width: 810px;
        }
        section {
            width:40%;
            margin: 0 10%;
            float:left;
            color:white;
            text-align:left;
            position: relative;

        }
        section h2 {
            margin-top:0;
        }
        section p {
            line-height: 1.8;
            margin-left: 40px;
            margin-bottom:40px;
        }
        social-link {
            display:inline-block;
            margin: 10px;
            vertical-align:middle;
        }
        .scrollable {
            opacity:0;
            transform : translateX(-20px);
            transition: all ease-out 0.2s;
        }
        .scrollable.animated {
            opacity:1;
            transform:translateX(0px);
            position:relative;
        }
        .btn {
            margin-left:40px;
        }
        .btn:hover {
            color: #222222;
        }
        .toolbox {
            margin-top:70px;
        }
        .toolbox h3 {
        text-transform:uppercase;
            letter-spacing: 0.1em;
        }
        tool {
            display:inline-block;
            width:44px;
            margin:10px;
            vertical-align: middle;
        }
        tool img {
            width:100%;
        }
    </style>

    <aside>
        <figure>
            <img src="/src/assets/img/me2.jpg" alt="" class="scrollable">
        </figure>
    </aside>

    <section>
        <div class="social-container">
            <template is="dom-repeat" items="{{socials}}">

                <social-link>
                    <a href="{{item.url}}" target="_blank"><img class="poster-img" src="{{item.icon}}" ></a>
                </social-link>
            </template>
        </div>
        <h2>Je suis Thibault Saint Germain, designer / developpeur frontend.</h2>

        <p>
            Ayant un profil de chef de projet / directeur artistique, j'ai depuis 4 ans orienté mon travail sur le développement frontend.
            Terminant actuellement un master 2 d'Expert en Stratégie Digitale (IESA Multimédia), je suis également Freelance en conception UI / UX et développement.<br><br>Vous avez un projet ? N'hésitez pas à me contacter !
        </p>
        <a href="mailto:hello@tsg1986.com" class="btn">envoyez-moi un mail</a>
        <a href="tel:0651388655" class="btn">appelez-moi</a>

        <div class="toolbox">
            <h3>Technos</h3>
            <template is="dom-repeat" items="{{technos}}">
                <tool><img class="tool" src="{{item.tool}}" /></tool>
            </template>
        </div>

        <div class="toolbox">
            <h3>Outils</h3>
            <template is="dom-repeat" items="{{tools}}">
                <tool><img class="tool" src="{{item.tool}}" /></tool>
            </template>
        </div>

    </section>



</template>

    <script>
        Polymer({
            is: 'about-me',
            ready: function() {
                this.socials = [
                    {url: 'https://github.com/qhuit', icon : '/src/assets/img/icons/github.svg'},
                    {url: 'https://www.behance.net/Digital-Content/', icon : '/src/assets/img/icons/behance.svg'},
                    {url: 'https://www.linkedin.com/in/thibaultsaintgermain?trk=hp-identity-name', icon : '/src/assets/img/icons/linkedin.svg'},
                    {url: 'https://twitter.com/tsg1986?lang=fr', icon : '/src/assets/img/icons/twitter.svg'}
                ];
                this.tools = [
                    {tool : '/src/assets/img/icons/phpstorm.png', alt:'PhpStorm'},
                    {tool : '/src/assets/img/icons/webstorm.png', alt:'Webstorm'},
                    {tool : '/src/assets/img/icons/github.png', alt:'Github'},
                    {tool : '/src/assets/img/icons/photoshop.png', alt:'Photoshop'},
                    {tool : '/src/assets/img/icons/illustrator.png', alt:'Illustrator'},
                    {tool : '/src/assets/img/icons/indesign.png', alt:'Indesign'},
                    {tool : '/src/assets/img/icons/balsamiq.png', alt:'Baslamiq Mockup'}
                ];
                this.technos = [
                    {tool : '/src/assets/img/icons/html.png', alt:'html 5'},
                    {tool : '/src/assets/img/icons/css.png', alt:'css 3'},
                    {tool : '/src/assets/img/icons/js.png', alt:'Javascript'},
                    {tool : '/src/assets/img/icons/sass.svg', alt:'Sass'},
                    {tool : '/src/assets/img/icons/wordpress.png', alt:'wordpress'},
                    {tool : '/src/assets/img/icons/php.png', alt:'php'},
                    {tool : '/src/assets/img/icons/symfony.png', alt:'symfony'}
                ];
            }
        });
    </script>

</dom-module>